<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto p-0">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <h1>{{ "RESET_PASS.PAGE_TITLE" | translate }}</h1>
                  <p class="text-muted">{{ "RESET_PASS.PAGE_DESCRIPTION" | translate }}</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" formControlName="password" placeholder="{{ 'RESET_PASS.LB_MATKHAUMOI' | translate }}" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" formControlName="repassword" placeholder="{{ 'RESET_PASS.LB_NHAPLAIMATKHAU' | translate }}" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">
                        {{ "LOGIN.SUBMIT" | translate }}
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      </button>
                    </div>

                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
