<div class="animated fadeIn">
  <!-- Filter form for feedback list section -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <!-- Main survey selection -->
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label text-blue">{{ 'REPORT.ROOT_SURVEY' | translate }}</label>
            <survey-select name="mainSurvey"
              (change)="mainSurveyChange($event)" [(ngModel)]="form_filter.mainSurvey">
            </survey-select>
          </div>
        </div>

        <div class="col-md-12 mb-2">
          <label class="text-blue">{{ 'REPORT.SEARCH_ADV' | translate }}</label>
        </div>

        <!-- Time -->
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'REPORT.SEARCH_TIME' | translate }}</label>
            <select class="form-control" name="type" [(ngModel)]="form_filter.time.time_unit" (change)="timeUnitChange(form_filter.time)">
              <option *ngFor="let item of SEARCH_TIME" [ngValue]="item.key">
                {{ item.name | translate }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" [(ngModel)]="form_filter.time.bias" *ngIf="form_filter.time.time_unit == 0 || form_filter.time.time_unit == 1">
              <option *ngFor="let item of SEARCH_TIME[form_filter.time.time_unit].lstValue" [ngValue]="item.value">
                {{ item.value }} {{ item.name | translate }}
              </option>
            </select>
            <input class="form-control" type="text" ngxDaterangepickerMd startKey="start" endKey="end"
                   [locale]="{applyLabel: 'ok', format: 'YYYY/MM/DD'}"
                   [(ngModel)]="form_filter.time.time_range" *ngIf="form_filter.time.time_unit == 2"/>
          </div>
        </div>
        <!-- Device 1 -->
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'REPORT.SEARCH_DEVICE' | translate }}</label>

            <group-select name="device" [pre_objects]="group_list"
              (change)="groupChange($event)">
            </group-select>
          </div>

          <div class="form-group">
            <device-select name="device" [pre_objects]="device_list"
              (change)="deviceChange($event)" [(ngModel)]="form_filter.device">
            </device-select>
          </div>
        </div>
        <!-- Feedback status -->
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">{{ 'REPORT.SEARCH_STATE' | translate }}</label>
            <select class="form-control" [(ngModel)]="form_filter.status">
              <option [ngValue]="undefined">{{ 'FEEDBACK.STATUS_VALID' | translate }}</option>
              <option *ngFor="let status of FEEDBACK_STATUS_LIST" [ngValue]="status">{{ 'FEEDBACK.STATUS.' + status | translate }}</option>
            </select>
          </div>
        </div>

        <div class="col-md-12">
          <button type="button" class="btn btn-secondary btn-sm btn-search ml-0">
            <i class="fa fa-close"></i>
            <span>{{'APP.UI_CANCEL'|translate}}</span>
          </button>
          <button [disabled]="!this.form_filter.mainSurvey" type="button" class="btn btn-primary btn-sm btn-search" (click)="getFeedbackList()">
            <i class="fa fa-search"></i>
            <span>{{'REPORT.BTN_SEARCH'|translate}}</span>
          </button>
          <button [disabled]="!this.form_filter.mainSurvey" type="button" class="btn btn-success btn-sm btn-search" (click)="exportFeedbacks()">
            <i class="fa fa-mail-forward"></i>
            <span>{{'FEEDBACK.EXPORT'|translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- User guide section -->
  <div class="card" *ngIf="!objects">
    <div class="card-body">
      <div class="row" >
        {{'FEEDBACK.FEEDBACK_LIST_DESCRIPTION' | translate}}
      </div>
    </div>
  </div>

  <!-- Feedback list component -->
  <div class="infinite_scroll_container col-12 feedback_table" 
    *ngIf="objects && active_survey && active_survey.headerCols && active_survey.headerCols.length" 
    infinite-scroll 
    [infiniteScrollDistance]="1"
    [infiniteScrollUpDistance]="2" 
    [infiniteScrollThrottle]="50"
    (scrolled)="onScrollDown()">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th class="center_cell">{{ 'APP.UI_IDX_NUMBER' | translate }}</th>
          <th class="center_cell" *ngFor="let col of active_survey.headerCols">
            <div [tooltip]="col?.survey_data?.question">
                {{ col.title }}
            </div>
          </th>
          <th class="center_cell">{{ 'APP.UI_STATUS' | translate }}</th>
          <th class="center_cell">{{ 'APP.UI_CREATED' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of objects; index as $i" class="pointer rate-{{message.color_level}}" (click)="feedbackDetail(message)">
          <td class="center_cell">{{ $i + 1 }}</td>
          <td *ngFor="let col of message.reportCols" class="text-center" [innerHTML]="col">
            <!-- {{ col } -->
          </td>
          <td>
            <span class="badge badge-light" *ngIf="message.data.status==0">{{ 'FEEDBACK.STATUS.' + message.data.status  | translate }}</span>
            <span class="badge badge-primary" *ngIf="message.data.status==1">{{ 'FEEDBACK.STATUS.' + message.data.status  | translate }}</span>
            <span class="badge badge-success" *ngIf="message.data.status==2">{{ 'FEEDBACK.STATUS.' + message.data.status  | translate }}</span>
            <span class="badge badge-danger" *ngIf="message.data.status==3">{{ 'FEEDBACK.STATUS.' + message.data.status  | translate }}</span>
            <span class="badge badge-secondary" *ngIf="message.data.status==4">{{ 'FEEDBACK.STATUS.' + message.data.status  | translate }}</span>
          </td>
          <td>{{ message.data.created | date: 'medium' : i18n.tzStr : i18n.lang.local_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- Feedbacks for exporting; no displaying in screen -->
  <table id="feedback2Export" class="table table-bordered table-hover m-b-0" border="1" style="display: none;">
    <thead *ngIf="export_survey && export_survey.fullReport && export_survey.fullReport.length">
        <tr>
            <th style="width: 30px;" rowspan="2">{{ 'APP.UI_IDX_NUMBER' | translate }}</th>
            <th *ngFor="let survey of export_survey.fullReport" [attr.colspan]="survey.colspan" 
              [attr.rowspan]="survey.rowspan">
                {{ survey.data.question }}
            </th>
            <th rowspan="2">{{ 'APP.UI_STATUS' | translate }}</th>
            <th style="width:170px;" rowspan="2">{{ 'APP.UI_CREATED' | translate }}</th>
            <th style="width:350px;" rowspan="2">{{ 'GROUP_PAGE.GROUP_NAME' | translate }}</th>
            <th style="width:350px;" rowspan="2">{{ 'DEVICE_PAGE.NAME' | translate }}</th>
        </tr>
        <tr>
            <th *ngFor="let col of export_survey.subheader_list">
                {{ col.title }}
            </th>
        </tr>
    </thead>
    <tbody *ngIf="exportItems && exportItems.length">
        <tr *ngFor="let item of exportItems; index as $i; let last=last">
          <td>{{$i + 1}}</td>
          <td *ngFor="let col of item.fullData">
              {{col}}
          </td>
          <td>
            {{ 'FEEDBACK.STATUS.' + item.data.status  | translate }}
          </td>
          <td>{{item.data.created | date:"dd/MM/yyyy '-' h:mma"}}</td>
          <td>{{(item.group_name)? item.group_name:item.data.grp_id}}</td>
          <td>{{(item.device_name)? item.device_name:item.data.device_id}}</td>
          {{last? saveData2Excel($i):''}}
        </tr>
    </tbody>
  </table>

</div>

<!-- Feedback detail dialog -->
<div bsModal #feedbackInfotDialog="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl " role="document" *ngIf="object && object.data">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'FEEDBACK.CONTENT'|translate}}</h4>
        <button type="button" class="close" (click)="information_Dialog.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <!-- Content block -->
        <div class="col-md-8">
          <!-- General information -->
          <div class="card">
            <div class="card-header">
              <strong>{{ 'FEEDBACK.GENERAL_INFORMATION' | translate }}</strong>
            </div>
            <div class="card-body">
              <div class="row feedback_header">
                <label class="col-12 col-sm-4 col-type">{{ 'APP.UI_CREATED' | translate }}:</label>
                <label class="col-12 col-sm-8">{{ object.data.created | date: 'medium' : i18n.tzStr : i18n.lang.local_id }}</label>
              </div>
              <div class="row feedback_header">
                <label class="col-12 col-sm-4 col-type">{{ 'DEVICE_PAGE.NAME' | translate }}:</label>
                <label class="col-12 col-sm-8" *ngIf="!feedback_device">{{ object.data.device_id }}</label>
                <label class="col-12 col-sm-8" *ngIf="feedback_device">{{ feedback_device.name }}</label>
              </div>
              <div class="row feedback_header">
                <label class="col-12 col-sm-4 col-type">{{ 'GROUP_PAGE.GROUP_NAME' | translate }}:</label>
                <label class="col-12 col-sm-8" *ngIf="!feedback_group">{{ object.data.grp_id }}</label>
                <label class="col-12 col-sm-8" *ngIf="feedback_group">{{ feedback_group.name }}</label>
              </div>
            </div>
          </div>
          <!-- Feedback content -->
          <div class="card">
            <div class="card-header">
              <strong>{{ 'FEEDBACK.DETAILS' | translate }}</strong>
            </div>
            <div class="card-body">
              <div class="row feedback_content">
                <feedback-content [message]="object" [survey]="active_survey"></feedback-content>
              </div>
              <div class="row feedback_actions">
              </div>
            </div>
          </div>
              
        </div>

        <!-- Processing block -->
        <div class="col-md-4">
          <!-- Feedback status and notes -->
          <div class="card">
            <div class="card-header">
              <strong>{{ 'FEEDBACK.FEEDBACK_STATUS' | translate }}</strong>
            </div>

            <div class="card-body">
              <div class="form-group row">
                <label class="col-md-12 col-form-label"><b>{{ 'APP.UI_STATUS' | translate }}:</b></label>
                <div class="col-md-12 col-form-label">
                  <div class="form-check" *ngFor="let status of FEEDBACK_STATUS_LIST">
                    <input class="form-check-input" id="{{status}}" name="feedback_status" type="radio" [value]="status" [(ngModel)]="object.data.status">
                    <label class="form-check-label" for="{{status}}">
                      {{ 'FEEDBACK.STATUS.' + status | translate }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-12 col-form-label" for="textarea-input"><b>{{ 'FEEDBACK.NOTES' | translate }}:</b></label>
                <div class="col-12">
                  <textarea class="form-control" placeholder="{{ 'FEEDBACK.NOTES' | translate }}.." rows="5" [(ngModel)]="object.data.notes"></textarea>
                </div>
              </div>
              <!-- <hr> -->
              <button *ngIf="object.data.id" type="button" class="btn btn-primary btn-sm" (click)="object.update()"><i class="fa fa-edit"></i> {{'APP.BUTTON_UPDATE'|translate}}</button>
            </div>
          </div>
          
          <!-- Actions -->
          <div class="card">
            <div class="card-header">
              <strong>{{ 'FEEDBACK.ACTIONS' | translate }}</strong>
            </div>

            <div class="card-body">
              <div class="input-group">
                <input autocomplete="email" class="form-control" id="email" name="email" placeholder="Email" type="email"  [(ngModel)]="email_address">
                <span class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="sendEmail()">
                    <i class="fa fa-send-o"></i>
                    <span class="sm-hide">{{'FEEDBACK.SEND_EMAIL'|translate}}</span>
                  </button>
                </span>
              </div>
              <hr *ngIf="feedback_plugins && feedback_plugins.length" />
              <ng-container *ngIf="feedback_plugins && feedback_plugins.length">
                <button class="btn btn-primary" type="button" *ngFor="let plugin of feedback_plugins; let i = index" (click)="callPlugin(i)">
                  {{ plugin.name}}
                </button>
              </ng-container >
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" (click)="information_Dialog.hide()">
          <i class="fa fa-close"></i> 
          <span>{{'APP.BUTTON_CLOSE'|translate}}</span>
        </button>
      </div>
  </div>
  </div>
</div>
